.form-container{
    display:flex;flex-direction: column;
    gap:20px;text-align: center;backdrop-filter: blur(5px);border-radius: 20px;
    margin:20px;background: rgba(255,255,255,0.18);justify-content: space-evenly;font-size: 30px;
    font-weight: bold;width: fit-content;height: fit-content;padding:30px;
    animation:fadein 7s ;color:white;
}

body{
    background:linear-gradient(135deg,#0B132B,#1C2541,#3A506B);
}

input{
    width:250px;height:40px;border-radius: 20px;border:1px solid #00AEEF;
    transition:transform 0.2s linear;outline:none;
}
input:hover{
    transform: translateY(-4px);
}
input:focus{
    border-color:#ff6b00;
    box-shadow:0 0 10px #ff6b00;
}

button{
    width:250px;height:40px;border-radius: 20px;border:1px solid #00AEEF;
    transition: transform 0.2s linear;background-color: white;
    font-size: 20px;padding:5px;color:#00AEEF;
}
button:hover{
    transform:translateY(-4px);color:blue;background: #00AEEF;
}
button:focus{
    border-color:#ff6b00;
    box-shadow:0 0 10px #ff6b00;
}

label{
    font-size: 20px;color:white;
}

html,body{
    margin:0;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.gender{
    display:flex;flex-direction: column;align-items: flex-start;gap:10px;
}
.gender .gender-option{
    display:flex;align-items: center;gap:10px;
}
.gender-option input{
 width:18px;
    height:18px;
    margin:0;
}